<!DOCTYPE html>
<html>
<head>
  <title>Memory Game</title>
</head>
<body>
  <div class="container">
    <h3 class=>Memory Game!</h3>
    <hr />

    <div class="row">
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
    </div>
    <div class="row">
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
    </div>
    <div class="row">
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
    </div>
    <div class="row">
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
      <div class="memory-box card col s2"></div>
    </div>
  </div>
</body>
</html>